*{
	margin: 0;
	padding: 0;

	/* 
	border: 1px black dotted;*/
}
html{
	background-color: #000000;
	background-image: url("images/pinstriped_suit.png");
	color: #000000;
}
body{
	margin: 0 auto;
	width: 60%;

	background-color:#FFFFFF;
}
header, footer{
	/*	Make a repeated stripes background for the header and footer and
		set the content to be white colored */
	padding: 20px;
	background-color: none;
	background: repeating-linear-gradient(45deg, #5f6b83, #5f6b83 20px, #423e58 20px, #423e58 40px);
	color: #FFFFFF;
	text-shadow: 3px 3px #000000;
	text-align: center;
}
header{
	font-size: 1.6em;
}
footer{
	font-size: 1.3em;
}
section{
	display: inline-block;
	width: 80%;
	box-sizing:border-box;
	text-align: center;
	background-color: #FFFFFF;
}
.main{
	min-height: 500px;
}
nav{
	float: right;
	display: block;
	box-sizing: border-box;
	width: 20%;
	font-size: 1.3em;
	text-align: center;
	height: 100%;

	right: 10px;
	top: 10px;
	position: relative;
}
nav > ul{
	display: inline-block;
	list-style-type: none;
	display: block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav a{
	padding: 20px 0px;
	display: block;
	text-decoration: none;
	background-color: #6e6e6e;
	color: #c4c4c4;

	border-bottom: 1px solid #000000;
	border-left: 5px solid #000000;
}
nav > ul > li:first-of-type > a{
	border-radius: 30px 30px 0px 0px;
	border-top: 1px solid #000000;
}
nav > ul > li:last-of-type > a{

	border-radius: 0px 0px 30px 30px;
	border-bottom: 1px solid #000000;
}
nav a:hover{
	background-color: #3a3a3a;
	color: #ffffff;

	border-left: 5px solid #dbdbdb;
}
nav a.active{
	border-left: 5px solid #a5e8f8;
	color: #ffffff;
}
.clear {
	clear: both;
}


/* IMPORTED CONTENT STYLING BELOW */
.importedContent{
	padding: 15px 25px 15px 15px;
	text-align: left;
	text-align: justify;
}
.importedContent p, 
.importedContent ol,
.importedContent ul{
	margin-bottom: 20px;
}
.importedContent li{
	margin-bottom: 10px;
}
.importedContent em{
	text-decoration-line: underline;
}
.importedContent ol, 
.importedContent ul{
	margin-left: 15px;
}
.importedContent h2{
	margin-bottom: 20px;
}
.importedContent section{
	width: 100%;
	text-align: left;
}
.importedContent iframe{
	margin-bottom: 20px;
}
.side-note{
	font-size: 0.9em;
}