<div class="importedContent">
    <h2>There's not much to say about me</h2>
    
    <p>
        I'm just an oridinary gamer who has an interest in programming, drawing, 
        3d modeling and making game tunes. Though I have so far only succeeded in 
        programming and drawing (and perhaps a bit of 3d modeling.)
    </p>

    <p>
        I would love to get a job in programming in the future, preferably doing 
        back-end programming, but front-end doesn't sound so bad either. It's 
        already a fun hobby, I can't imagine getting paid for it. Though I guess 
        when you get paid for it you have a lot less freedom to pick on exactly
        <em>what</em> you get to work on. 
    </p>

    <p>
        I also love practicing Japanese, reading Manga and watching Japanese 
        cartoons (Anime).
    </p>
</div>