<div class="importedContent">
    <h2>Welcome to my web page</h2>

    <p>
        This was a good exercise in Javascript. There are several things I had to 
        try while doing this assignment. One of them was to see if I could try and 
        make the navigation "dynamic", not hardcoded into the html but instead 
        <em>adjustable through Javascript</em>. You can try it by modifying the 
        values and adding the proper navLinkNames and navLinkUrls to the arrays!
    </p>

    <section>
        <p>Things I got to refresh on (and or learn) during the course of this assignment.</p>
        
        <ol>
            <li>
                Syntax stays more or less the same between other programming languages, though Javascript can be a bit weird<sup>1</sup>.
            </li>

            <li>
                Its just as easy to automate things like in other programming languages. But 
                that can be deceiving, for as easy as it is, it is just as easy to make <em>very</em> 
                messy code.
            </li>
        </ol>

        <p class="side-note"><sup>1</sup>I like the strictness of languages such as C++ and C# where you have to use variable types. Like bool, int, string, etc.</p>
    </section>
</div>