<div class="importedContent">
    <h2>I freakin ADORE Parakeets</h2>

    <p>
        I think parakeets are amazing, so amazing that we humans 
        don't deserve such tiny fluffy companions that try so hard 
        to emulate our speech patterns and sounds around them.
    </p>

    <p>
        I mean what's there not to love about them? they are small, 
        they are fuzzy, they sound cute and are great to interact 
        with and build a bond. Sure, they poop every 20 minutes or 
        so but that's well worth their personalities and friendships!
    </p>

    <p>
        I especially love [<a href="https://www.youtube.com/channel/UCYw9mpGnZAuEn8iJFjZZa0w" target="_blank">Kiwi and Pixel's Youtube Channel</a>],
        I'll link some of their videos below!
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/7gFa5cBiVpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/kUUmU-WZtLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/35gxtg7N9R8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>