<div class="importedContent">
    <h2>Projects I have worked on in the past</h2>
    
    <p>
        On my [<a href="https://gitlab.com/aeriussu/" target="_blank">GitLab</a>] (or my [<a href="https://github.com/aeriusohara" target="_blank">GitHub</a>]) one
        can see the projects I have worked on in the past. They were all learning 
        experiences that have thought me many things.
    </p>

    <p>
        Here are the top 3 projects I've had fun working on.
    </p>

    <o>
        <li>
            <a href="https://aeriussoftware.wordpress.com/ffxi-life/" target="_blank">FFXI Life</a> 
            is a tool that allows you to repeat certain in-game commands to save you time on 
            crafting and or chocobo digging (to create/gather) resources, saving you time 
            and allowing you to do other things (like watching Netflix!) while your 
            character bulk-crafts things.
        </li>

        <li>
            <a href="https://aeriussoftware.wordpress.com/pso2-patch-manager/" target="_blank">PSO2 Translation Patch Manager</a> 
            is a tool I made for one of my favorite games of all time, Phantasy Star Online 2. A sequel 
            to an old online (and offline!) game from the over a decade ago. It was only released in 
            Japan and thus the game was completely in Japanese. People however found a way to decrypt 
            the files and replace the Japanese text with English, thus slowly translating the game. 

            Today the game is about 90% translated, which is very impressive. Anyway, this tool allowed 
            you to swap the files around easily without having to deal with the .rar files the 
            translators released. It also allowed you to update the game, it was kind of an 
            all-in-online tool.
        </li>

        <li>
            <a href="https://aeriussoftware.wordpress.com/blade-and-soul-mod-manager-ish/" target="_blank">Blade And Soul Mod Manager-ish</a> 
            is a tool that swaps around original files with modified files, often used for things like 
            swapping around region voice files. The English release of the game only had English voices 
            and many people wanted Japanese or Korean voices with English subtitles. This tool gave a 
            GUI solution to an already somewhat easy process (some people are lazier than lazy, haha!)
        </li>
    </o>
</div>